<!--
<style>
	.cart-box {
		position: fixed;
	    top: 11px;
	    right: 11px;
	    z-index: 15000;
	}
	.pill-shopping-cart {
		font: 400 normal 12px / 22px 'Gotham SSm A','Gotham SSm B','Gotham SSm','Proxima Nova','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    	letter-spacing: normal;
	}
</style>
-->
<div class="absolute-cart-box">
	<div class="sqs-widget sqs-pill-shopping-cart" style="visibility: visible; opacity: 1; transform: scale(1); transition: opacity 0.25s ease-out, visibility 0.25s ease-out, transform 0.25s ease-out;">
		<div class="sqs-pill-shopping-cart-content dark">
			<div class="icon"></div>

			<div class="details">
			  <span class="total-quantity">1</span>
			  <span class="suffix">item</span>
			</div>

			<span class="subtotal">
				<span class="price">
					<span class="sqs-money-native">100</span>
				</span>
			</span>
		</div>
	</div>
</div>